In [34]:
# Lists are ordered.
# Lists can contain any arbitrary objects.
# List elements can be accessed by index.
# Lists can be nested to arbitrary depth.
# Lists are mutable.
# Lists are dynamic.

In [1]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [2]:
print(thislist[1])

banana

In [3]:
print(thislist[-1])

mango

In [4]:
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [5]:
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [6]:
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [8]:
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [9]:
for x in thislist:
  print(x)

apple
blackcurrant
cherry
orange
kiwi
melon
mango

In [10]:
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [11]:
print(len(thislist))

7

In [12]:
thislist.append("orange")
print(thislist)

['apple', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'orange']

In [13]:
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'orange']

In [15]:
thislist.remove("orange")
print(thislist)

['apple', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'orange']

In [16]:
thislist.pop()
print(thislist)

['apple', 'blackcurrant', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [17]:
del thislist[0]
print(thislist)

['blackcurrant', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [18]:
thislist.clear()
print(thislist)

[]

In [19]:
mylist = thislist.copy()
print(mylist)

[]

In [20]:
#Make a copy of a list with the list() method:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [21]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [22]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [23]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [24]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [28]:
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()

print(fruits)

['cherry', 'banana', 'apple']

In [29]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

print(cars)

['BMW', 'Ford', 'Volvo']

In [30]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")

print(x)

2

In [1]:
[1,2,3]*2

[1, 2, 3, 1, 2, 3]

## Nesting Lists

In [2]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [3]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [5]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

# List Comprehensions

In [6]:
 #Build a list comprehension by deconstructing a for loop within a []
first_col = [row[0] for row in matrix]

In [7]:
first_col

[1, 4, 7]

In [8]:
x = [1, 2, 3]
x.append([4, 5])
print(x)

[1, 2, 3, [4, 5]]

In [9]:
x = [1, 2, 3]
x.extend([4, 5])
print(x)

[1, 2, 3, 4, 5]

In [10]:
# Grab every letter in string
lst = [x for x in 'word']
# Check
lst

['w', 'o', 'r', 'd']

In [11]:
# Square numbers in range and turn into list
lst = [x**2 for x in range(0,11)]
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
# Check for even numbers in a range
lst = [x for x in range(11) if x % 2 == 0]
lst

[0, 2, 4, 6, 8, 10]

In [14]:
# Convert Celsius to Fahrenheit
Celsius = [0,10,20.1,34.5]

fahrenheit = [ ((float(9)/5)*temp + 32) for temp in Celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [15]:
lst = [ x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

# Lists Are Dynamic

In [12]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[2:2] = [1, 2, 3]
a += [3.14159]
a

['foo', 'bar', 1, 2, 3, 'baz', 'qux', 'quux', 'corge', 3.14159]

In [13]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[2:3] = []
del a[0]
a

['bar', 'qux', 'quux', 'corge']

In [15]:
a = ['a', 'b']
a + [1, 2, 3]

['a', 'b', 1, 2, 3]

In [16]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a += 20

TypeError: 'int' object is not iterable

In [17]:
a += [20]
a

['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 20]

In [18]:
a = ['foo', 'bar', 'baz', 'qux', 'quux']
a += 'corge'
a

['foo', 'bar', 'baz', 'qux', 'quux', 'c', 'o', 'r', 'g', 'e']

In [19]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]
a

['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

In [20]:
a[1:6] = ['Bark!']
a

['foo', 'Bark!', 'quux', 'corge']

In [21]:
a = [1, 2, 3]
a[1] = [2.1, 2.2, 2.3]
a

[1, [2.1, 2.2, 2.3], 3]

In [22]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[1:5] = []
a

['foo', 'corge']

In [23]:
# If s is a string, s[:] returns a reference to the same object
s = 'foobar'
s[:]

'foobar'

In [24]:
s[:] is s

True

In [25]:
# Conversely, if a is a list, a[:] returns a new object that is a copy of a
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a[:]

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [26]:
a[:] is a

False

In [27]:
min(a)

'bar'

In [28]:
max(a)

'qux'

In [32]:
# Lists Can Contain Arbitrary Objects
import math
a = [int, len, math]
a

[int, <function len(obj, /)>, <module 'math' (built-in)>]

In [33]:
[1, 2, 3, 4] == [4, 1, 3, 2]

False