In [1]:
l = [1,2,3,4,5,6,7,8,9,10]
for num in l:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [2]:
for letter in 'This is a string.':
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
.

In [3]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

In [4]:
l = [(2,4),(6,8),(10,12)]
for tup in l:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [5]:
# Now with unpacking!
for (t1,t2) in l:
    print(t1)

2
6
10

In [6]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [8]:
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

In [5]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.')  # Will execute

foo
bar
baz
qux
Done.

In [6]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.')  # Will not execute

foo

In [7]:
list(range(5, 20, 3))

[5, 8, 11, 14, 17]

In [8]:
list(range(-5, 5))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [9]:
list(range(5, -5))

[]

In [10]:
list(range(5, -5, -1))

[5, 4, 3, 2, 1, 0, -1, -2, -3, -4]

In [10]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x ==3:
        print('Breaking because x==3')
        break
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
Breaking because x==3

In [1]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [2]:
# This loop is terminated prematurely with break, so the else clause isnâ€™t executed.
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

In [3]:
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0

In [4]:
if True: print('foo')

foo

In [11]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3