In [1]:
a = b = c = 300
print(a, b, c)

300 300 300

In [5]:
# With the statement m = 300, Python creates an integer object with the value 300 and sets m as a reference to it. 
# n is then similarly assigned to an integer object with value 300—but not the same object.
m = 300
n = 300
print(id(m))
print(id(n))

2429504311632
2429504312240

In [6]:
# For purposes of optimization, the interpreter creates objects for the integers in the range [-5, 256] at startup, 
# and then reuses them during program execution. Thus, when you assign separate variables to an integer value in this range, 
# they will actually reference the same object.
m = 30
n = 30
print(id(m))
print(id(n))

2429435145424
2429435145424

In [2]:
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

# Arithmetic Operator

In [15]:
a = 9
b = 4

add = a + b 
print("addtion of numbers:",add)

sub = a - b 
print("subtraction of numbers:",sub)

mul = a * b 
print("Multiplication of number:",mul)

div1 = a / b 
print("Division(float) of numbers:",div1)

div2 = a // b 
print("Division(floor) of number:",div2)

mod = a % b 
print("Modulo of both number :",mod)

addtion of numbers: 13
subtraction of numbers: 5
Multiplication of number: 36
Division(float) of numbers: 2.25
Division(floor) of number: 2
Modulo of both number : 1

In [16]:
+a

9

In [17]:
-b

-4

In [18]:
a ** b

6561

In [19]:
# When the result of floor division (//) is positive, it is as though the fractional portion is truncated off, 
# leaving only the integer portion. When the result is negative, the result is rounded down to the next smallest 
# (greater negative) integer:

print(10 / 4)
print(10 // 4)
print(10 // -4)
print(-10 // 4)
print(-10 // -4)

2.5
2
-3
-3
2

# Relational Operators

In [20]:
a = 1
b = 2


print(a > b) 
print(a < b)  
print(a == b) 
print(a != b) 
print(a >= b) 
print(a <= b)

False
True
False
True
False
True

In [22]:
x = 1.1 + 2.2
x

3.3000000000000003

In [23]:
# value stored internally for a float object may not be precisely what you’d think it would be. For that reason, 
# it is poor practice to compare floating-point values for exact equality. 

x = 1.1 + 2.2
x == 3.3

False

In [24]:
# The preferred way to determine whether two floating-point values are “equal” is to compute whether they are 
# close to one another, given some tolerance

tolerance = 0.00001
x = 1.1 + 2.2
abs(x - 3.3) < tolerance

True

# Logical operators

In [25]:
print(True and True)
print(False and False)
print(True and False)
print(False and True)

True
False
False
False

In [26]:
print(True or True)
print(False or False)
print(True or False)
print(False or True)

True
False
True
True

In [27]:
print(not True)
print(not False)

False
True

# Bitwise operators

In [28]:
a = 1  #0001
b = 2  #0010

#  bitwise AND 
print(a & b)   #0000

# bitwise OR  
print(a | b)  #0011

#  bitwise NOT 
print(~a)    

#  bitwise XOR 
print(a ^ b)   #0011

# bitwise right shift
print(a >> 2)  #0000

# bitwise left shift 
print(a << 2)   #0100

0
3
-2
3
0
4

# Assignment operators

In [29]:
# In python a += b doesn’t always behave the same way as a = a + b
x = 5
print(x)
x += 3
print(x)
x -= 3
print(x)
x *= 3
print(x)
x /= 3
print(x)
x %= 3 
print(x)
x //= 3
print(x)
x **= 3
print(x)

5
8
5
15
5.0
2.0
0.0
0.0

## Identity operators :  to check if two values are located on the same part of the memory
### is :         True if the operands are identical 
### is not    :  True if the operands are not identical

In [30]:
a1 = 1
b1 = 1
a2 = 'rajsingh'
b2 = 'rajsingh'
a3 = [1,2,3] 
b3 = [1,2,3] 


print(a1 is not b1) 


print(a2 is b2) 

# lists are mutable.
print(a3 is b3)

False
True
False

In [39]:
x = 1001
y = 1000 + 1
print(x, y)
x == y

1001 1001

True

In [40]:
# when you make an assignment like x = y, Python merely creates a second reference to the same object
x is y

False

## Membership operators
### in   :         True if value is found in the sequence
### not in   :     True if value is not found in the sequence

In [31]:
x = 'Raj singh Rajpoot'
y = {1:'a',2:'b'} 


print('R' in x) 

print('raj' not in x) 

print('Raj' not in x) 

print(1 in y) 

print('b' in y)

True
True
False
True
False

# Any / All

In [32]:
# Returns true if any of the items is True. It returns False if empty or all are false
print (any([False, False, False, False])) 

print (any([False, True, False, False]))

False
True

In [33]:
# Returns true if all of the items are True 
print (all([True, True, True, True])) 

print (all([False, True, True, False])) 

print (all([False, False, False]))

True
False
False

# Chained Comparison Operators

x1 op1 x2 op2 x3 … xn-1 opn xn
or 
x1 op1 x2 and x2 op2 x3 and … xn-1 opn xn

In [34]:
1 < 2 < 3

True

In [35]:
1<2 and 2<3

True

# Ternary Condition

In [36]:
# <expression_if_true> if <condition> else <expression_if_false>

[a if a else 'zero' for a in [0, 1, 0, 3]]

['zero', 1, 'zero', 3]

# Operator Precedence

In [37]:
2 * 3 ** 4 * 5

810

In [38]:
2 * 3 ** (4 * 5)

6973568802

# Evaluation of Non-Boolean Values in Boolean Context

Numeric Value
    A zero value is false.
    A non-zero value is true.

In [47]:
print(bool(0), bool(0.0), bool(0.0+0j))

print(bool(-3), bool(3.14159), bool(1.0+1j))

False False False
True True True

String
    An empty string is false.
    A non-empty string is true.

In [48]:
print(bool(''), bool(""), bool(""""""))

print(bool('foo'), bool(" "), bool(''' '''))

False False False
True True True

In [49]:
print(type([]))
print(bool([]))


print(type([1, 2, 3]))
print(bool([1, 2, 3]))

<class 'list'>
False
<class 'list'>
True

In [46]:
# None is always false:
bool(None)

False

In [50]:
x = 3
print(bool(x))

y = 0.0
print(bool(y))

True
False

In [51]:
x = 3
y = 4
print(x or y)


x = 0.0
y = 4.4
print(x or y)

3
4.4

In [52]:
x = 3
y = 4
print(x and y)

x = 0.0
y = 4.4
print(x and y)

4
0.0

# Short-Circuit Evaluation

In [54]:
a = 0
b = 1
a != 0 and (b / a) > 0

False

In [55]:
string = 'foo bar'
s = string or '<default_value>'
s

'foo bar'

In [56]:
string = ''
s = string or '<default_value>'
s

'<default_value>'

In [1]:
x = "hello"

#if condition returns True, then nothing happens:
assert x == "hello"

In [2]:
#if condition returns False, AssertionError is raised:
assert x == "goodbye"

AssertionError: