# Set and Booleans

There are two other object types in Python that we should quickly cover. Sets and Booleans. 

##Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [1]:
x = set()

In [3]:
# We add to sets with the add() method
x.add(1)

In [4]:
#Show
x

{1}

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [5]:
# Add a different element
x.add(2)

In [6]:
#Show
x

{1, 2}

In [7]:
# Try to add the same element
x.add(1)

In [9]:
#Show
x

{1, 2}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [7]:
# Create a list with repeats
s = [1,1,2,2,3,4,5,6,1,1]

In [8]:
# Cast as set to get unique values
s=set(s)

In [9]:
s.clear()
s

set()

In [10]:
s = {1,2,3}
sc = s.copy()
sc

{1, 2, 3}

In [11]:
s.add(4)

In [12]:
s

{1, 2, 3, 4}

In [13]:
sc

{1, 2, 3}

In [14]:
s.difference(sc)

{4}

In [15]:
s1 = {1,2,3}
s2 = {1,4,5}
s1.difference_update(s2)

In [16]:
s1

{2, 3}

In [17]:
s

{1, 2, 3, 4}

In [18]:
s.discard(2)

In [19]:
s

{1, 3, 4}

In [20]:
s1 = {1,2,3}
s2 = {1,2,4}
s1.intersection(s2)

{1, 2}

In [21]:
s1

{1, 2, 3}

In [22]:
s1.intersection_update(s2)
s1

{1, 2}

In [23]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [24]:
s1.isdisjoint(s2)

False

In [25]:
s1.isdisjoint(s3)

True

In [26]:
s1

{1, 2}

In [27]:
s2

{1, 2, 4}

In [28]:
s1.issubset(s2)

True

In [29]:
s2.issuperset(s1)

True

In [30]:
s1.symmetric_difference(s2)

{4}

In [31]:
s1.union(s2)

{1, 2, 4}

In [32]:
s1.update(s2)

In [1]:
set1 = {1,2,3}
set2 = {3,4,5}
set3 = set1.union(set2)               # {1,2,3,4,5}
set4 = set1.intersection(set2)        # {3}
set5 = set1.difference(set2)          # {1, 2}
set6 = set1.symmetric_difference(set2)# {1, 2, 4, 5}
set1.issubset(set2)                   # False
set1.issuperset(set2)                 # False
set1.isdisjoint(set2)                 # False --> return True if two sets have a null intersection.

False

In [1]:
# frozenset is immutable
x = frozenset(['foo', 'bar', 'baz'])
x

frozenset({'bar', 'baz', 'foo'})

In [2]:
len(x)

3

In [3]:
x & {'baz', 'qux', 'quux'}

frozenset({'baz'})

In [4]:
# Sets are unordered.
# Set elements are unique. Duplicate elements are not allowed.
# A set itself may be modified, but the elements contained in the set must be of an immutable type.

In [5]:
x = set(['foo', 'bar', 'baz', 'foo', 'qux'])
x

{'bar', 'baz', 'foo', 'qux'}

In [6]:
x = set(('foo', 'bar', 'baz', 'foo', 'qux'))
x

{'bar', 'baz', 'foo', 'qux'}

In [8]:
s = 'quux'
set(s)

{'q', 'u', 'x'}

In [9]:
x = {'q', 'u', 'u', 'x'}
x

{'q', 'u', 'x'}

In [10]:
# Python interprets empty curly braces ({}) as an empty dictionary, so the only way to define an empty set is with 
# the set() function
x = {}
type(x)

dict

In [11]:
x = set()
type(x)

set

In [12]:
x = set()
bool(x)

False

In [13]:
x or 1

1

In [14]:
x and 1

set()

In [15]:
x = {42, 'foo', 3.14159, None}
x

{3.14159, 42, None, 'foo'}

In [16]:
x = {42, 'foo', (1, 2, 3), 3.14159}
x

{(1, 2, 3), 3.14159, 42, 'foo'}

In [17]:
# lists and dictionaries are mutable, so they can’t be set elements
a = [1, 2, 3]
{a}

TypeError: unhashable type: 'list'

In [18]:
d = {'a': 1, 'b': 2}
{d}

TypeError: unhashable type: 'dict'

In [19]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}
x1 | x2

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [20]:
x1.union(x2)

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [21]:
x1 | ('baz', 'qux', 'quux')

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [22]:
x1.union(('baz', 'qux', 'quux'))

{'bar', 'baz', 'foo', 'quux', 'qux'}

In [23]:
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}

a.union(b, c, d)

{1, 2, 3, 4, 5, 6, 7}

In [24]:
a | b | c | d

{1, 2, 3, 4, 5, 6, 7}

In [25]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1.intersection(x2)

{'baz'}

In [26]:
x1 & x2

{'baz'}

In [27]:
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}

a.intersection(b, c, d)

{4}

In [28]:
a & b & c & d

{4}

In [29]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1.difference(x2)

{'bar', 'foo'}

In [30]:
x1 - x2

{'bar', 'foo'}

In [31]:
a = {1, 2, 3, 30, 300}
b = {10, 20, 30, 40}
c = {100, 200, 300, 400}

a.difference(b, c)

{1, 2, 3}

In [32]:
a - b - c

{1, 2, 3}

In [33]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1.symmetric_difference(x2)

{'bar', 'foo', 'quux', 'qux'}

In [34]:
x1 ^ x2

{'bar', 'foo', 'quux', 'qux'}

In [35]:
a = {1, 2, 3, 4, 5}
b = {10, 2, 3, 4, 50}
c = {1, 50, 100}

a ^ b ^ c

{5, 10, 100}

In [36]:
a = {1, 2, 3, 4, 5}
b = {10, 2, 3, 4, 50}
c = {1, 50, 100}

a.symmetric_difference(b, c)

TypeError: set.symmetric_difference() takes exactly one argument (2 given)

In [37]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}

x1.isdisjoint(x2)

False

In [38]:
x2 - {'baz'}

x1.isdisjoint(x2 - {'baz'})

True

In [39]:
x1 = {1, 3, 5}
x2 = {2, 4, 6}

x1.isdisjoint(x2)

True

In [40]:
x1 & x2

set()

In [41]:
x1 = {'foo', 'bar', 'baz'}
x1.issubset({'foo', 'bar', 'baz', 'qux', 'quux'})

True

In [42]:
x2 = {'baz', 'qux', 'quux'}
x1 <= x2

False

In [43]:
x = {1, 2, 3, 4, 5}
x.issubset(x)

True

In [44]:
x <= x

True

In [45]:
x1 = {'foo', 'bar'}
x2 = {'foo', 'bar', 'baz'}
x1 < x2

True

In [46]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar', 'baz'}
x1 < x2

False

In [47]:
# While a set is considered a subset of itself, it is not a proper subset of itself
x < x

False

In [48]:
x1 = {'foo', 'bar', 'baz'}

x1.issuperset({'foo', 'bar'})

True

In [49]:
x2 = {'baz', 'qux', 'quux'}
x1 >= x2

False

In [50]:
x = {1, 2, 3, 4, 5}
x.issuperset(x)

True

In [51]:
x >= x

True

In [52]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar'}
x1 > x2

True

In [53]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'bar', 'baz'}
x1 > x2

False

In [54]:
x = {1, 2, 3, 4, 5}
x > x

False

In [55]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

x1 |= x2
x1

{'bar', 'baz', 'foo', 'qux'}

In [56]:
x1.update(['corge', 'garply'])
x1

{'bar', 'baz', 'corge', 'foo', 'garply', 'qux'}

In [57]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

x1 &= x2
x1

{'baz', 'foo'}

In [58]:
x1.intersection_update(['baz', 'qux'])
x1

{'baz'}

In [59]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

x1 -= x2
x1

{'bar'}

In [60]:
x1.difference_update(['foo', 'bar', 'qux'])
x1

set()

In [61]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

x1 ^= x2
x1

{'bar', 'qux'}

In [62]:
x1.symmetric_difference_update(['qux', 'corge'])
x1

{'bar', 'corge'}