In [1]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
t

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [2]:
t[0]

'foo'

In [3]:
t[-1]

'corge'

In [4]:
t[1::2]

('bar', 'qux', 'corge')

In [5]:
t[::-1]

('corge', 'quux', 'qux', 'baz', 'bar', 'foo')

In [ ]:
# Program execution is faster when manipulating a tuple than it is for the equivalent list. 
# (This is probably not going to be noticeable when the list or tuple is small.)

In [6]:
# Python displays the response in parentheses because it is implicitly interpreting the input as a tuple.
a = 'foo'
b = 42
a, 3.14159, b

('foo', 3.14159, 42)

In [7]:
t = ()
type(t)

tuple

In [9]:
t = (1, 2)
type(t)

tuple

In [8]:
t = (2)
type(t)

int

In [10]:
# Since parentheses are also used to define operator precedence in expressions, 
#Python evaluates the expression (2) as simply the integer 2 and creates an int object. To tell 
#Python that you really want to define a singleton tuple, include a trailing comma (,) just before the closing parenthesis

t = (2,)
type(t)

tuple

In [11]:
t[0]

2

In [12]:
t[-1]

2

In [13]:
print(t)

(2,)

In [14]:
t = 2,
t

(2,)

In [15]:
#Change Tuple Values
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [16]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [17]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')