In [3]:
var = input("enter any thing:")
print(var)

enter any thing:123
123

In [6]:
#Whatever you enter as input, input function convert it into a string..
var1 = input ("Enter number :") 
print(var1) 
var2 = input("Enter name : ") 
print(var2) 

print(var1+var2)
 
print ("type of number", type(var1)) 
print ("type of name", type(var2))

Enter number :2
2
Enter name : raj
raj
2raj
type of number <class 'str'>
type of name <class 'str'>

In [7]:
var1 = int(input ("Enter number :"))
print(var1) 
var2 = int(input("Enter number : "))
print(var2)

print(var1+var2)

print ("type of number", type(var1)) 
print ("type of name", type(var2))

Enter number :2
2
Enter number : 5
5
7
type of number <class 'int'>
type of name <class 'int'>

In [8]:
var1 = float(input ("Enter number :"))
print(var1) 
var2 = float(input("Enter number : "))
print(var2)

print(var1+var2)

print ("type of number", type(var1)) 
print ("type of name", type(var2))

Enter number :1.2
1.2
Enter number : 2.3
2.3
3.5
type of number <class 'float'>
type of name <class 'float'>

In [14]:
x, y, z = map(int,input("Enter values: ").split())
print("first number: ", x) 
print("second number : ", y) 
print("third number : ", z) 
print()
print("First number  {} , second number {} and third number {} ".format(x,y,z))

Enter values: 1 2 3
first number:  1
second number :  2
third number :  3

First number  1 , second number 2 and third number 3

In [17]:
#the python print() function by default ends with newline
print("raj singh", end =" ")
print("rajpoot")

raj singh rajpoot

In [21]:
print("raj singh :", end =" Hi, ")
print("how are you ?")

raj singh : Hi, how are you ?

In [26]:
print('r','a','j')
print('r','a','j', sep='')

r a j
raj

In [32]:
print('{0} and {1}'.format('raj', 'singh')) 
print('{1} and {0}'.format('raj', 'singh'))

raj and singh
singh and raj