In [1]:
abs(-2.3)

2.3

In [4]:
round(2.3)

2

In [5]:
max(5, 10)

10

In [6]:
min(5,10)

5

In [8]:
#The frozenset() function returns an unchangeable frozenset object (which is like a set object, only unchangeable).
mylist = ['apple', 'banana', 'cherry']
x = frozenset(mylist)
print(x)

frozenset({'banana', 'apple', 'cherry'})

In [9]:
#The enumerate() function adds a counter as the key of the enumerate object.
x = ('apple', 'banana', 'cherry')
y = enumerate(x)

print(list(y))

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

In [10]:
#The sum() function returns a number, the sum of all items in an iterable.
a = (1, 2, 3, 4, 5)
x = sum(a)
print(x)

15

In [15]:
a = ("b", "g", "a", "d", "f", "c", "h", "e")
x = sorted(a)
print(x)  #returns a sorted list of the specified iterable object.

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [12]:
print(pow(4, 3))

print(pow(4, 3, 5))  # modulus 5

64
4

In [7]:
#The reversed() function returns a reversed iterator object.
alph = ["a", "b", "c", "d"]

ralph = reversed(alph)

for x in ralph:
  print(x)

d
c
b
a

In [13]:
x = bin(36)
print(x)

0b100100

In [14]:
x = bool(1)
print(x)

True

If seq = [ s1, s2, s3, ... , sn ], calling reduce(function, sequence) works like this:

* At first the first two elements of seq will be applied to function, i.e. func(s1,s2) 
* The list on which reduce() works looks now like this: [ function(s1, s2), s3, ... , sn ]
* In the next step the function will be applied on the previous result and the third element of the list, i.e. function(function(s1, s2),s3)
* The list looks like this now: [ function(function(s1, s2),s3), ... , sn ]
* It continues like this until just one element is left and return this element as the result of reduce()

In [2]:
from functools import reduce
st =[47,11,42,13]
reduce(lambda x,y: x+y,lst)

113

In [3]:
#Find max
reduce(lambda a,b: a if (a > b) else b,lst)

47

The function filter(function(),l) needs a function as its first argument. The function needs to return a Boolean value (either True or False). This function will be applied to every element of the iterable. Only if the function returns True will the element of the iterable be included in the result.

In [6]:
def even_check(num):
    if num%2 ==0:
        return True
    
lst =range(20)

a=filter(even_check,lst)
print(a)

<filter object at 0x000000515790C5F8>

In [7]:
filter(lambda x: x%2==0,lst)

The first argument is the name of a function and the second a sequence (e.g. a list). map() applies the function to all the elements of the sequence. It returns a new list with the elements changed by function.

In [8]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)
    
temp = [0, 22.5, 40,100]

F_temps = map(fahrenheit, temp)

#Show
F_temps

In [9]:
map(lambda x: (5.0/9)*(x - 32), F_temps)

In [10]:
a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12]

map(lambda x,y:x+y,a,b)

In [11]:
# Now all three lists
map(lambda x,y,z:x+y+z, a,b,c)

zip() makes an iterator that aggregates elements from each of the iterables.
Returns an iterator of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterables. The iterator stops when the shortest input iterable is exhausted. With a single iterable argument, it returns an iterator of 1-tuples. With no arguments, it returns an empty iterator.

In [12]:
x = [1,2,3]
y = [4,5,6]

# Zip the lists together
zip(x,y)

In [13]:
x = [1,2,3]
y = [4,5,6,7,8]

# Zip the lists together
zip(x,y)

In [14]:
d1 = {'a':1,'b':2}
d2 = {'c':4,'d':5}

zip(d1,d2)

In [16]:
zip(d2,d1.items())